//Colors
$csun-red: #D00D2D;
$money-green: #2FBF71;
$orange-yellow-one: #ECA400;
$blue-gray: #476A6F;
$green-gray: #7EB09B;
$pale-gold: #F2C55C;
$orange-yellow-two: #EDAC17; 
$dark-green-one: #2BAE67;
$dark-green-two: #279D5D;