.contentWrapper {
	align-items: center;
	justify-content: center;
	margin-top: $navbar-height + 0.6;
	@media screen and (max-width: $break-small) {
		margin-top: $navbar-height;
	}
}

.feedbackContainer {
	max-width: 95%;
	margin: auto;
	padding: 24px;
	@media screen and (min-width: $break-small) {
		max-width: 70%;
	}
	@media screen and (min-width: $break-large) {
		max-width: 50%;
	}
}

.graphContent {
	background-color: $light-gray;
	// min-height: stretch;
	min-height: calc(100vh - 197px);
}

abbr[title] {
	border-bottom: none;
	text-decoration: none;
}

html {
	min-height: 100vh;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}


@media print {
	body {
		position:absolute;
		margin:-100px 0 0 -100px;
		zoom: 0.73;
		-moz-transform: scale(0.73);
		-webkit-transform: scale(0.73);
		transform: scale(0.73);
		width: 120%;
	}
	.nav-item{
		display: none !important;
	}
	.hr-nav{
		display: none !important;

	}
	.collapse{
		display: none !important;
	}
 }

.lead {
	color: $text-gray;
}
