.wrapper{
    display: flex;
    min-height: calc(88vh);
    background: $light-gray;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container-fluid{
    padding-right: 0px !important;
}

.btn{
    border-radius: 2.5rem;
    width: 100%;
    font-family: $font-brand;
    font-size: 0.9rem;
    height: 45px;
    font-weight: 300;
}
