.content-wrapper{
    align-items: center;
    justify-content: center;
    margin-top: $navbar-height;
}

.graph-content{
    background-color: $light-gray;
}

abbr[title] {
    border-bottom: none;
    text-decoration: none;
}

html {
  min-height: 100vh;
  box-sizing: border-box;
}