.wrapper{
    display: flex;
    background: $light-gray;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.container-fluid{
    padding-right: 0px !important;
}

html {
  height: 100%;
  box-sizing: border-box;
}