.btn{
    border-radius: 3rem;
    font-family: $font-brand;
    font-size: 0.9rem;
    height: 45px;
    font-weight: 300;
}

.btn:focus{
    outline: none;
    border: none;
}
.btn:active{
    outline: none;
    border: none;
}

.btn-success{
  background: $green;
}

.btn-add{
    color: $green;
    font-size: 3rem;
    height: 40px;
    width: 40px;
    padding: 0px;
    outline: none;
}

.btn-plus{
    display: block;
}

.btn-info{
    color: $white;
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 50%;
    float: left;
    margin-top: 2.5rem;
}
.btn-info:focus{
    outline: none;
}

input[type="button"]:focus{
    outline:none;
}
.home-btn {
    border-radius: 5rem;
    width: 70%;
    font-size: 0.9rem;
    font-family: $font-brand;
    height: 45px;
    color: white;
}
.button-link {
    .home-btn__degrees, .home-btn__pfre, .home-btn__majors {
        text-decoration: none;
        color: $white;
    }
}

.home-btn__degrees{
    background: $oxford;
}

.home-btn__pfre{
    background: $green;
}

.home-btn__majors{
    background: $gold;
}