.btn{
    border-radius: 3rem;
    font-family: $font-brand;
    font-size: 0.9rem;
    height: 45px;
    font-weight: 300;
}

.btn:focus{
    outline: none;
    border: none;
}
.btn:active{
    outline: none;
    border: none;
}

.btn-success{
  background: $green;
}

.btn-submit {
    padding-left: 5rem;
    font-size: 1.1rem;
    text-transform: none;
    padding-right: 5rem;
    font-weight: 500;
}

.btn-add{
    color: $green;
    font-size: 3rem;
    height: 40px;
    width: 40px;
    padding: 0px;
    outline: none;
}

.btn-add__disabled{
    color: $gray;
    font-size: 3rem;
    height: 40px;
    width: 40px;
    padding: 0px;
    outline: none;
}

.major-tool-btn{
    float: left;
    position: absolute;
    right: 0;
    padding-top: 1rem;
}

.btn-remove{
    color: $gray;
    font-size: 2rem;
    outline: none;
    cursor: pointer;
    margin-left: 8px;
    vertical-align: middle;
    display: inline;
}

.btn-reset{
    color: $gray;
    padding-top: 3px;
    font-size: 1.6rem;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
    display: inline;
}

.major-tool-btn-mobile{
    padding-left: 80%;
    padding-top: 1rem;
}

.btn-remove-mobile{
    color: $gray;
    font-size: 2rem;
    outline: none;
    margin-left: 5px;
    vertical-align: middle;
    display: inline;
}

.btn-reset-mobile{
    color: $gray;
    font-size: 1.6rem;
    outline: none;
    vertical-align: middle;
    display: inline;
}

.btn-plus{
    display: block;
}

.btn-info{
    color: $white;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    float: left;
    @media screen and (max-width: $break-small) {
        float: right;
    }
}
.btn-info:focus{
    outline: none;
}

input[type="button"]:focus{
    outline:none;
}
.home-btn {
    border-radius: 5rem;
    width: 70%;
    font-size: 0.9rem;
    font-family: $font-brand;
    height: 45px;
    color: white;
}
.button-link {
    .home-btn__degrees, .home-btn__pfre, .home-btn__majors {
        text-decoration: none;
        color: $white;
    }
}

.home-btn__degrees{
    background: $oxford;
}

.home-btn__pfre{
    background: $green;
}

.home-btn__majors{
    background: $gold;
}

.fa-bars {
    font-size: 2.5rem;
    color: $gray;
}