.researchMainBanner {
    background-image:
        $white-filter,
        url('https://images.unsplash.com/photo-1503676382389-4809596d5290?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9a878b325b176e5402b37d27b342963e&auto=format&fit=crop&w=1510&q=80');
    background-size: cover;
    min-height: 30vh;
    h2 {
        color: $black;
        font-size: 3.75rem;
        max-width: 64rem;
        font-family: $font-base;
        font-weight: 400;
    }
}

@mixin make-activeCSUImage($gradient, $image) {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: $gradient, $image;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .55s;
    background-position: center, center;
    &:hover, h3:hover{
        transform: scale(1.3);
    }
}

%ImagePosition{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .55s;
    background-position: center, center;
}

%CSUTileText{
    @extend .px-3, .pb-3, .m-0 ;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    font-size: 1.25rem;
    line-height: 140%;
    font-weight: bold;
    color: white;
}

%CSUTileSizing{
    padding-top: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    max-width: none;
    margin: auto;
    height: unset;
}


.CSUTile{
    @extend %CSUTileSizing;
    font-family: $font-base;
    text-transform: uppercase;
    border-radius: 5%;
    box-sizing: border-box;
    color: $white;
    @media screen and (max-width: $break-small) {
        max-width: 25rem;
        height: 25rem;
        padding-top: 0;
    }
    @media screen and (min-width: $break-medium) {
        padding-top: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
        max-width: none;
        margin: auto;
        height: unset;
    }
    &:hover{
        .CSUTile__Image--Active{
            transform: scale(1.2);
            cursor: pointer;
        }
        .CSUTile__DisableMessage{
            opacity: .5;
        }
    }
    

    &__CSUName{
        @extend %CSUTileText;
        cursor: pointer;
    }
    &__CSUName--Opt{
        @extend %CSUTileText;
        cursor: not-allowed;
    }
    &__Image{
        @extend %ImagePosition;
    }
    &__Image--Active{
        @extend %ImagePosition;
        cursor: pointer;
    }
    &__Image--Opt {
        @extend %ImagePosition;
        cursor: not-allowed;
    }
    &__DisableMessage{
        @extend .px-3, .pt-3 ;
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        color: white;
        opacity:0;
        font-size: 1.4rem;
        font-weight:bold;
        cursor: not-allowed;
    }
    &--Disabled{
        opacity: .3;
        filter: brightness(30%);
        cursor: not-allowed;
    }
}

.returnToCampusSelection {
    @extend .text-left, .my-2 ;
    color: $black;
    font-weight: bold;
}