$unavailable-campus: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
$available-campus: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
$white-filter: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));

#research-main-banner {
    background-image:
     $white-filter,
     url('https://images.unsplash.com/photo-1503676382389-4809596d5290?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9a878b325b176e5402b37d27b342963e&auto=format&fit=crop&w=1510&q=80');
    text-align: center;
    position: relative;
    height: 50vh;
    h2 {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, 0);
        color: $black;
        font-family: $font-base;
        font-weight: 400;
    }
    .csu-wrapper {
        width: 90%;
        bottom: 5%;
        figure {
            img {
                width: 6.5rem;
            }
            figcaption {
                font-family: $font-base;
                text-transform: uppercase;
            }
        }
    }
}

.campuses-container{
    display: flex;
    align-items: left; 
    flex-wrap: wrap;
}

.row{
    padding-left: 2.5rem;
    padding-top: 2.5rem;
}

.campus{
    display: flex;
    height: 370px;
    min-width: 340px;
    align-self: center;
    justify-content: center;
    font-family: $font-base;
    text-transform: uppercase;
    border-radius: 5%;
    position: relative;
    padding: 1.5em;
    box-sizing: border-box;
    color: $white;
    h3 {
        position: absolute;
        bottom: 1rem;
        font-size: 1.3rem;
        line-height: 140%;
        font-weight: 400;
    }
}

#csun {
    background-image: 
        $available-campus, 
        url('https://www.metalab.csun.edu/learnandearn/imgs/csun.jpg');
}
#csulb {
    background-image: 
        $unavailable-campus, 
        url('https://www.metalab.csun.edu/learnandearn/imgs/csulb.jpg');
}
#csula {
    background-image: 
        $unavailable-campus,
        url('https://www.metalab.csun.edu/learnandearn/imgs/csula.jpg');
}
#csuf {
    background-image: 
        $unavailable-campus,
        url('https://www.metalab.csun.edu/learnandearn/imgs/csuf.jpg');
}
#csudh {
    background-image: 
        $unavailable-campus,
         url('https://www.metalab.csun.edu/learnandearn/imgs/csudh.jpg');
}
#csuci {
    background-image: 
        $unavailable-campus,
         url('https://www.metalab.csun.edu/learnandearn/imgs/csuci.jpg');
}
#csup {
    background-image: 
        $unavailable-campus,
         url('https://www.metalab.csun.edu/learnandearn/imgs/csupp.jpg');
}

#csun, #csulb, #csula, #csuf, #csudh, #csuci, #csup {
    background-size: cover;
    background-position: center;
}