
.industry-carousel {
  background-position: center;
  background-size: cover;
  height: 8em;
  width: 42em;
  border-radius: 1rem;

  
}
.industry-carousel-card{
  height: 8em;
  width: 14em;
}



.info-wrapper {
  color: white;
  padding: 12% 0% 12% 10%;
  border-radius: 1rem;
  line-height: 3px;
  background: rgba(0, 0, 0, 0.5);
}

.industry-info{
  margin-top: 20%; 
}
.row{
  justify-content: center;
}