%card-base {
    background: $white;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    justify-content: center;
}

.csu-card{
    @extend %card-base;
    @extend .mb-3 ;
    min-height: 50vh;
    
    @media screen and (max-width: $break-small) {
        min-height: unset;
    }

    &__share{
        margin-left: .3rem;
        &-twitter{
            color: #00C6FF;
        }
        &-facebook{
            color: #3B5998;
        }
        &-linkedin{
            color: #0077B5;
        }
    }

    &__no-data{
        line-height: 25rem;
        &--mobile{
            line-height: 18rem;
        }
    }
}

.csu-card__form{
    @extend %card-base, .mb-4, .py-4 ;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    &-sizing{
        width: 100%;
    }
}

.card-add{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 150px;
    margin-bottom: 0px;
    margin-top: 50px;
    padding-top: 50px;
    @extend %card-base;
}

