%card-base {
    background: $white;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    justify-content: center;
}

.csu-card{
    display: flex;
    flex-direction: row;
    min-height: 75vh;
    margin-bottom: 50px;
    align-items: flex-start;
    @extend %card-base;
}

.csu-card__form{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    align-items: flex-start;
    @extend %card-base;
}

.card-add{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 150px;
    margin-bottom: 0px;
    margin-top: 50px;
    padding-top: 50px;
    @extend %card-base;
}


.row{
    flex-direction: row;
}
