
.industry-carousel {
  background-position: center;
  background-size: cover;
  height: 8em;
  width: 42em;
  border-radius: 1rem;

  
}
.industry-carousel-card{
  height: 8em;
  width: 14em;
}

.industry-carousel-card__mobile{
  height: 8em;
  width: 100%;
  margin-bottom: 10px;
}

.industry-title{
  color: grey;
  text-align:center;
  font-weight: 600;
}

.info-wrapper {
  color: white;
  padding: 1% 0% 12% 10%;
  border-radius: 1rem;
  line-height: 3px;
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 500px) {
  .info-wrapper {
    padding: 1% 0% 12% 10% !important;
  }
}

.industry-info{
  margin-top: 20%; 
}
.row{
  justify-content: center;
}