.echarts {
  min-height: 80%;
  min-width: 100%;
  color: blue;
}

.pfre-bar {
  border-radius: 50px;
  margin-bottom: 0.5rem;
  margin: 0 !important;
  background-color: light-gray !important;
}

.pfre-year {
	background-color: $gold !important;
}

.pfre-earnings {
	background-color: $dark-green !important;
}

.pfre-fre {
	background-color: $oxford !important;
}

.progress-footer {
  display: flex;
}

.progress-wrapper{
  margin-top: 60px;
}

.progress-linear__bar__determinate {
  border-radius: 50px;
}

$colorList: (
  oxford-25: $oxford-25, 
  oxford: $oxford,
  oxford-75: $oxford-75,
  green-25: $green-25,
green: $green,
  green-75:$green-75,
  gold-25: $gold-25,
  gold: $gold,
  gold-75: $gold-75
);

%legend {
  height: 15px;
  width: 15px;
  margin-left: 5px;
  float: left;
}
  
@mixin legend-color-mixin($legend-color) {
  @each $color, $value in $colorList {
    .legend-#{$color} {
      @extend %legend;
      background-color: $value;
    }
  }
}

@include legend-color-mixin($colorList);