.echarts {
  min-height: 80%;
  min-width: 100%;
  color: blue;
}

.pfre-bar {
  border-radius: 50px;
  margin-bottom: 0.5rem;
  margin: 0 !important;
  background-color: light-gray !important;
}

.pfre-year {
	background-color: $gold !important;
}

.pfre-earnings {
	background-color: $dark-green !important;
}

.pfre-fre {
	background-color: $oxford !important;
}

.progress-footer {
  display: flex;
}

.progress-wrapper{
  margin-top: 60px;
}

.progress-linear__bar__determinate {
  border-radius: 50px;
}