.echarts {
	min-height: 80%;
	min-width: 100%;
	color: blue;
}

@media screen and (min-width: 500px) {
	.echarts {
		height: 400px !important;
		width: 100px !important;
	}
}

.IndustryProgressBarWrapper {
	padding: 1.42rem 0.71rem;
	border-top: 1px solid $light-gray;
	@media only screen and (max-width: $break-small) {
		padding: 0.1rem 2rem 0 0;
		margin: 1rem 0 0 0;
	}

	&__ProgressBarBase {
		border-radius: 50px;
		margin: 0;
	}

	&__IndustryTitle {
		font-size: 1rem;
		margin: 0;
	}

	&__PercentageBar--Background {
		border-radius: 50px;
		background-color: $light-gray;
	}

	&__PercentageBar {
		border-radius: 50px;
		background-color: $blue;
	}

	&__SalaryBar {
		border-radius: 50px;
		background-color: $green;
	}

	&__PercentageText {
		margin: 0;
		color: $blue;
		font-size: 1rem;
	}

	&__SalaryText {
		margin: 0;
		color: $green;
		font-size: 1rem;
	}

	&__SalaryBar {
		background-color: $green;
	}

	&__collapse {
		text-align: left;
		color: $blue-light;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		&:hover {
			color: $oxford;
		}
	}
} //end IndustryProgressBarWrapper

.IndustryLegend {
	//padding: 20px 10px;
	font-weight: 600;
	font-size: 0.857rem;
	%LegendBase {
		height: 0;
		width: 10px;
		padding-bottom: 10px;
		margin-right: 5px;
		display: inline-block;
	}
	&__LegendPercentage {
		@extend %LegendBase;
		background-color: $blue;
	}
	&__LegendSalary {
		@extend %LegendBase;
		background-color: $green;
	}
}

.bar-graph-card {
	min-height: 100%;
	padding: $content-card__padding;
	@extend %card-base;
	@media screen and (max-width: $break-small) {
		margin-top: 2%;
		padding: 7%;
		font-size: 1.5rem;
		padding-bottom: 0.5em;
	}
}

.pfre-info {
	&__majorTitle{
		font-size: 1.75rem;
		font-weight: 700;
	}
	&__title{
		text-align: center;
		font-weight: bold;
		font-size: 3.5rem;
		@media screen and (max-width: $break-small) {
			font-size: 1.6rem;
		}
	}
	&__percentage{
		text-align: center;
		font-weight: 600;
		line-height: 1;
		font-size: 9rem;
		@media screen and (max-width: $break-small) {
			font-size: 5.3rem;
		}
	}
	&__infoCopy{
		text-align: left;
		font-size: 1rem;
	}
	&__listGroup{
		padding: 0;
		margin: 0;
	}
	&__listElement{
		list-style-type: none;
		float: left;
		font-size: 1rem;
		&:before{
			content: '●';
			margin-left: .35rem;
			margin-right: .35rem;
		}
		@media screen and (max-width: $break-small) {
			display: list-item;
			list-style-type: disc;
			margin-left: 1.25rem;
			float: none;
			&:before{
				content: '';
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}

$colorList: (
	oxford-25: $oxford-25,
	oxford: $oxford,
	oxford-75: $oxford-75,
	green-25: $green-25,
	green: $green,
	green-75: $green-75,
	gold-25: $gold-25,
	gold: $gold,
	gold-75: $gold-75,
	blue: $blue
);

// %legend {
// height: 15px;
// width: 15px;
// }
%legend {
	height: 10px;

	width: 10px;
	margin-left: 5px;
	float: left;
}
.legend-mobile {
	font-size: 0.857rem;
	float: left;
	margin-left: 10px;
	padding-top: 0;
	p {
		position: relative;
		top: -4px;
		left: -4px;
		font-weight: 600;
		margin-bottom: 0;
	}
	.majors-header {
		display: none !important;
	}
}
.progress-median:after {
	content: "";
	top: 0;
	z-index: 1;
	bottom: 0;
	left: 50%;
	border-left: 2px dotted #17a2b8;
	transform: translate(-50%);
}

/* Legend color key for majors page */
@mixin legend-color-mixin($legend-color) {
	@each $color, $value in $colorList {
		.legend-#{$color} {
			@extend %legend;
			background-color: $value;
		}
	}
}
@include legend-color-mixin($colorList);
.mobile-legend {
	float: left;
	font-size: 1rem;
	margin-left: 10px;
}

.tooltip {
	margin-left: 1rem;
	margin-right: 1rem;
}

//tableau styling

.tableau{
    &__frame{
        width: 1016px;
        height: 991px;
    }

    &__placeholder{
        width: 1000px;
        height: 5rem;
    }
}

