footer, .footer {
    font-family: $font-brand;
    width: 100%;
    height: 100%;
    background-color: $red;
}
.footer__links{
    float: left;
    padding: 5px 5px;
}

.footer__link{
    margin-bottom: 0rem;
}



