footer, .footer {
    font-family: $font-brand;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
    height: 100%;
    min-height: 30px;
    display: flex;
    flex: 0 1 auto !important;
    background-color: $black;
}
.footer-mobile-positioning{

    @media screen and (max-width: $break-small) {
		margin-top: 110px;
	}
}
.footer__links{
    float: left;
    padding: 5px 5px;
}

.footer__link{
    margin-bottom: 0rem;
}



