// FORMS
//

label {
  display: block;
  margin-bottom: 0px;
  font-family: $font-brand;
  font-weight: regular;
  color: $darker-gray;
}
.label--radio{
  color: $gray;
  float: left;
}

.label--required {
  &::after {
    margin-left: 2px;
    color: $gold;
    content: "*";
  }
}

%form-input-base {
  border-bottom: .2rem $gray solid;
  .dropdown-toggle {
    border-radius: 0 !important;
    border: none !important;
  }
}

.csu-form-input {
  @extend %form-input-base;
  .dropdown-toggle {
    height: 2.75rem;
  }
}

.csu-form-input-major {
  @extend %form-input-base;
  .dropdown-toggle {
    overflow: visible;
    min-height: 2.75rem;
  }
  input[type="search"] {
    position: absolute !important;
  }
  div {
    .selected-tag {
    height: unset;
  }
  }
}

.currency {
  position: relative;

  input[type="text"] {
    padding-left: 30px;
  }

  &::after{
    content: "$";
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #fff;
  }
}

select,
textarea,
input[type="text"],
input[type="date"],
input[type="time"],
input[type="number"],
input[type="search"],
input[type="password"] {
  font-family: $font-brand;
  display: block;
  width: 100%;
  padding: 0px;
  color: $gray;
  border: 0;
  border-bottom: 2px solid $gray;


  &::placeholder {
    color: $gray;
  }
}

select,
input[type="text"],
input[type="date"],
input[type="number"],
input[type="time"],
input[type="search"],
input[type="submit"],
input[type="password"] {
  height: 30px;
}

input[type="radio"]{
  float: right;
}

textarea {
  resize: vertical;
}

.form__group {
  margin-bottom: .5rem;
}

.form--title{
  font-weight: 300;
}

// .form--inverted{
//   margin-top: 100px;
// }

.row--condensed{
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0rem;
}

.fre-major-title {
  display: none;
  height: 5.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  h3 {
    margin-bottom: 0;
    line-height: 1;
    color: $gray;
    text-align:center;
    font-weight: normal;
    font-size: 1.5rem;
  }
  @media screen and (max-width: $break-small) {
        display: block;
  }
}

.form--degreeLevel {
  label {
    @media screen and (max-width: 999px) {
      font-size: 1.1rem;
    }
  }
}

