.homepageVideo {
    height: auto;
    background: url(../img/homeimages/video-cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;

    &:before {
        content: " ";
        background: rgba(235,235,235,0);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: background 0.7s ease;
    }


    &__btn {
        opacity: 1;
        background: rgba(0,0,0,0.5);
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 15px;
        cursor: pointer;
        transition: opacity .3s ease;
        padding: 15px 40px;
        
        @include media-breakpoint-up(md) {
            padding: 20px 50px;
        }    
        
        @include media-breakpoint-up(lg) {
            padding: 35px 80px;
        }
        
        img {
            width: 45px;
        
            @include media-breakpoint-up(md) {
                width: 75px;
            }
            
            @include media-breakpoint-up(lg) {
                width: auto;
            }
        
        }
    }

    &__wrapper {
        opacity: 0;
        transition: opacity 1s ease 0.3s;
    }

    &__container {
        @include media-breakpoint-up(lg) { 
            max-width: 960px;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        @include media-breakpoint-up(xl) { 
            max-width: 1140px;
        }
    }

    &.active {
        &:before {
            background: rgba(235,235,235,1);
        }
            
        .homepageVideo__wrapper {
            opacity: 1;
            z-index: 5; 
        }
        
        .homepageVideo__btn {
            opacity: 0; 
        }
    }

    &.finished {
        .homepageVideo__container {
            opacity: 0;
        }
    }
}