.img__logo{
	padding-top: 10px;
	max-height: 50px;
}
.img__logo--side{
	max-height: 60px;
	margin-top: 0px;
}
.img__banner{
	max-width: 60%;
}
.bg { 
	background-image: $white-filter, url("https://i.gyazo.com/5261827ebc5ee015d177ab999f162a72.jpg");
	min-height: 83vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@media screen and (max-width: $break-small) {
		background-size: contain;
		background-position: 0 0;
	}
}

.video-placeholder {
	background-image: url("https://i.gyazo.com/e29caca65320df8b8781d2c420159b1b.jpg");
	height: 50em;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-image: linear-gradient(90deg, $oxford, $light-green, $light-gold) 5;
	border-top: .3rem solid;
	border-bottom: .3rem solid;
}

.learn-how {
	background-color: white;
	min-height: 11vh;
	@media screen and (max-width: $break-small) {
		display: none;
	}
}

.fa-wrapper {
	@media screen and (max-width: $break-small) {
		background: $white;
		border-image: linear-gradient(90deg, $oxford, $light-green, $light-gold) 5;
		border-top: .3rem solid;
	}
}

.fa-graduation-cap {
	font-size: 6em;
	color: $oxford;
	padding-bottom: .1em;
}

.fa-usd {
	font-size: 6em;
	color: $green;
	padding-bottom: .1em;	
}

.fa-line-chart {
	font-size: 6em;
	color: $gold;
	padding-bottom: .1em;	
}

.csu-wrapper {
	max-width: 100rem;
	figure {
		img {
		width: 75%;
		}
		figcaption {
      font-family: $font-base;
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 1rem;
	  }
	}
}
