.site-header {
	font-family: $font-brand;
	position: fixed;
	background: $white;
	width: 100%;
	z-index: 1000000;
	box-shadow: 0 6px 6px -6px #999;
	top: 0;
	@media screen and (max-width: $break-small) {
		min-height: $navbar-height;
		font-size: 1.3rem;
		
	}
	abbr[title] {
		border-bottom: none;
	}
}

.collapse{
	@media screen and (max-width: $break-small) {
		height: 0;
		overflow: hidden;
		transition: height .5s;
		display: block;
	}
}

.show {
	@media screen and (max-width: $break-small) {
		/* 5 refer to the number of nav links*/
		height: $navbar-height*5;
	}
}

.nav-link{
	padding: 1.5rem 0px;
}

.navbar-toggler{
	margin-top: .65rem;
}

.nav-logo{
	max-height: 60px;
	width: 120px;
	@media screen and (max-width: $break-small) {
		height: 2.9rem;	
	}
}
.nav-logo-secondary{
	height: 2.35rem;
}

.hr-nav{
	border-bottom: 3px solid $red;
	margin: 0px;
	@media screen and (max-width: $break-small) {
		background: $red;
		color: $white !important;
		font-weight: bold;
	}
}


.hamburger-btn-position {
	@media screen and (max-width: $break-small) {
		display: flex;
		justify-content: center;
	}
}

.sub-nav{
	color: rgba(0,0,0,.5);
	background: $white;
	font-weight: 600;
	padding: 1.2rem 0;
	transition: 0.2s;
}

.sub-nav:hover{
	color: rgba(0,0,0,.8);
	background: $white;
	text-decoration: none;
}

.sub-nav--active{
	border-bottom: 3px solid $blue-light;
	margin: 0px;
	color: $blue-light;
	@media screen and (max-width: $break-small) {
		background: $blue-light;
		color: $white !important;
		font-weight: bold;
	}
}

.sub-nav--active:hover{
	color: $blue-light;
}

#nav-overlay{
	@media screen and (max-width: $break-small) {
		position: fixed;
		background: $black;
		opacity: .4;
		width: 100vw;
		height: 100vh;
		z-index: 100;
		display: none;
	}
}
