.site-header {
	font-family: $font-base;
	position: fixed;
	background: $white;
	width: 100%;
	z-index: 99999999;
	box-shadow: 0 6px 6px -6px #999;
	top: 0;
	@media screen and (max-width: $break-Xsmall) {
		min-height: $navbar-height;
		font-size: 1.3rem;
	}
	abbr[title] {
		border-bottom: none;
	}
	.collapse {
		@media screen and (max-width: $break-Xsmall - 1) {
			height: 0;
			overflow: hidden;
			transition: height 0.5s;
			display: block;
		}
	}
	
	.show {
		@media screen and (max-width: 575px) {
			/* the number refer to the number of nav links*/
			height:14rem;// $navbar-height * 4;
		}
	}
	.hr-nav {
		.nav-item{
			color: #000;
			
			@media screen and (max-width: $break-Xsmall - 1){
				color:#fff
			}
		}
	}
	.nav-item{
		color: #000;
		font-size:18px;
		@media screen and (max-width: $break-small){
			font-size:16px;
		}
	}
	.nav-link {
		padding: 1.5rem 1.5rem !important;
		@media screen and (min-width:$break-small - 1){
			padding: 1rem 1.5rem !important;
		}
	}
	.navbar-toggler {
		margin-top: 0.65rem;
	}
	
	.hr-nav {
		margin: 0px;
		@media screen and (max-width: $break-Xsmall - 1) {
			background: $red;
			color: $white !important;
			font-weight: bold;
		}
	}
	.hr-nav::after{
		content: "";
		width: 140%;
		background-color: $red;
		height: 0.2rem;
		display: block;
		margin-top: .3rem;
		margin-left: -20%;
		@media screen and (max-width: $break-Xsmall -1) {
			display: none;
		}
	}
}

.nav-logo {
	max-height: 60px;
	width: 120px;
	@media screen and (max-width: $break-Xsmall - 1) {
		content:  	url("../../../img/homeimages/logo-mini.svg"); 
		width: 4rem;
	}
}
.nav-logo-secondary {
	@media screen and (max-width: $break-medium){
		width:4rem;
	}
	@media screen and (max-width: $break-Xsmall) {
		width: 4rem;
		margin-left: 1rem;
	
	} 
}



.hamburger-btn-position {
	@media screen and (max-width: $break-Xsmall) {
		display: flex;
		justify-content: flex-end;
	}
}

.sub-nav {
	background: $white;
	font-weight: 600;
	@media screen and (max-width: $break-small) {
		position: fixed;
		bottom: 0;
		z-index: 99999999;
		display: table;
		vertical-align: middle;
		min-height: $navbar-height - .5;
		font-size: 1rem;
		box-shadow: 0 0 2px #999;
			span {
			display: block;
			}	
	}
}




.sub-nav__element {
	color: rgba(0, 0, 0, 0.5);
	padding: 1.2rem 0;
	text-align: center;
	text-transform: uppercase;
	transition: 0.2s;
	&:hover {
		color: $blue-light;
		text-decoration: none;
		box-shadow: inset 0 -3px $blue-light;
	}

	&--active {
		background: $blue-light;
		color: $white;
		font-weight: bold;
		&:hover {
			background: $blue-light;
			color: $white;
			font-weight: bold;
		}
	}
	@media screen and (max-width: $break-small) {
		margin-top: 3px;
		margin-bottom: 3px;
		padding: 0;
		color: rgba(0, 0, 0, 0.5);
		text-align: center;
		text-transform: capitalize;
		text-decoration: none;
		display: table-cell;
		.fa-usd,.fa-graduation-cap{	
			color: rgba(0, 0, 0, 0.5);	
		}
		&--active {
			background: none;
			text-decoration: none;
			color: rgb(160, 13, 13);
			font-weight: bold;
			.fa-usd,.fa-graduation-cap{	
				color:  rgb(160, 13, 13);	
			}
		}
		&:hover {
			background: none;
			box-shadow: none;
			text-decoration: none;
			color: rgb(160, 13, 13);
			font-weight: bold;
			.fa-usd,.fa-graduation-cap{	
				color: rgb(160, 13, 13);	
			}
		}	
	}
}
.mobile-icon{
	display: none !important;
	@media screen and (max-width:$break-small) {
		margin-left: 0;
		display:initial !important;
	}
}

#nav-overlay {
	display: none;
	@media screen and (max-width: $break-Xsmall - 1) {
		position: fixed;
		background: $black;
		opacity: 0.4;
		width: 100vw;
		height: 100vh;
		z-index: 100;
		display: none;
	}
}
