.site-header {
	font-family: $font-brand;
	position: fixed;
	background: $white;
	width: 100%;
	z-index: 500;
	box-shadow: 0 6px 6px -6px #999;
	top: 0;
}

.nav-link{
	padding: 18px 0px;
	abbr[title] {
		border-bottom: none;
	}
}

.navbar-toggler{
	margin-top: .65rem;
}

.nav-logo{
	max-height: 60px;
	width: 120px;
}
.nav-logo-secondary{
	max-height: 50px;
	width: 50px;
}
.hr-nav{
	border-bottom: 3px solid $red;
	margin: 0px;
}
