.text-gray { color: $gray }
.text-white { color: $white }

.home__heading {
    font-weight: 600;
}
.home__link {
    font-weight: 500;
}
.home__content {
    font-weight: 400;
}
body {
    font-family: $font-base;
    background: $white;
}
.container-fluid{
    margin-top: 60px;
    padding-left: 0px;
}

.expansion-panel__header{
  font-weight: 600;
}

.expansion-panel__body div{
  color: $gray;
}

.info-bubble{
    background: $light-gray;
    border-radius: 15px;
    float: right;
}