.text-gray { color: $gray }
.text-white { color: $white }

.home__heading {
    font-size: 4rem;
    font-weight: 600;
    @media screen and (max-width: $break-small) {
        font-size: 2.5rem;
    }
}
.home__link {
    font-weight: 500;
}

%home__center--content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 85%;
}


.home__col {
    font-weight: 400;
    .home__icon {
        height: 7rem;
    }
    .home__subheading {
        height: 6rem;
        position: relative;
        h3 {
            @extend %home__center--content;
        }
    }
    .home__copy {
        height: 6.75rem;
        position: relative;
        p {
            @extend %home__center--content;
        }
    }
}
body {
    font-family: $font-base;
    background: $white;
}

.expansion-panel__header{
  font-weight: 600;
}

.expansion-panel__body div{
  color: $gray;
}

.pfre__heading {
    font-size: 3rem;
    font-weight: 600;
    @media screen and (max-width: $break-small) {
        font-size: 1.78rem;
    }
}

.pfre-info{
    position: absolute;
    margin-left: 80px;
    margin-top: 100px;
    background: $light-gray;
    border-radius: 15px;
    float: right;
    width: 10rem;
}


.pfre-info {
    /*add line height*/
    position: absolute;
    margin-left: 80px;
    margin-top: 100px;
    background: $light-gray;
    border-radius: 15px;
    float: right;
    width: 10rem;
    top: 100%;
    transform: translateY(-50%);
    padding: 8px;
}

.pfre-info--show {
    position: absolute;
    background: $light-gray;
    border-radius: 15px;
    width: 18rem;
   // left: 1.9rem;
    padding: .5rem;
    z-index: 2;
    @media screen and (max-width:576px){
    }
}


.info{
    margin-top: 100px;
}

.pfre-info__content{
    background: $light-gray;
    border-radius: 15px;
    float: right;
}

.pfre-info__wrapper{
    position: relative;
    font-weight: 600;

    @media screen and (max-width: 479px) {
        font-size: 1.1rem;
    }
}

.faq-header{
    text-align: center;
}

.faq-panel{
    padding: 7%;
    padding-top:0%;
}

figcaption {
	font-size: 1.5rem;    
}
.v-dialog__content{
    z-index: 1000001 !important;
}
.v-overlay{
    z-index: 1000000 !important;;
}
.splashPage{
    background-color: $light-gray;
    height: calc(100vh - 457px);
    position: relative;
    text-align: center;
    font-size: 3rem;
    color:black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 2rem;
    @media screen and (max-width: 960px){
        height: calc(100vh - 416px);
    }
}