//Colors
$red: #D00D2D;
$gold: #ECA400;
$light-gold: #EDAC17; 
$lightest-gold: #F2C55C;
$oxford: #476A6F;
$sage: #7EB09B;
$light-green: #2FBF71;
$green: #2BAE67;
$dark-green: #279D5D;
$light-gray: #f7f7f7;
$lightest-gray: #f7f7f7;
$gray: #777777;
$dark-gray: #3a3335;
$darker-gray: #363636;
$white: #FFF;
$black: #000;

//Fonts
$font-base: 'Montserrat';
$font-brand: 'Open Sans';

//Filters
$unavailable-campus: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
$available-campus: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
$white-filter: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));