//Colors
$red: #D00D2D;
$gold: #ECA400;
$light-gold: #EDAC17; 
$lightest-gold: #F2C55C;
$oxford: #476A6F;
$sage: #7EB09B;
$light-green: #2FBF71;
$green: #2BAE67;
$dark-green: #279D5D;
$light-gray: #f7f7f7;
$gray: #777777;
$white: #FFF;
$black: #000;
$font-base: 'Montserrat';
$font-brand: 'Open Sans';