//Colors
$candy: #E74A37;
$dark-candy: #A13326;
$red: #D00D2D;
$gold: #DAA200;
$light-gold: #EDAC17; 
$lightest-gold: #F2C55C;
$oxford: #476A6F;
$sage: #7EB09B;
$light-green: #55BE85;
$green: #2BAE67;
$dark-green: #279D5D;
$light-gray: #EBEBEB;
$lightest-gray: #f7f7f7;
$gray: #777777;
$dark-gray: #3a3335;
$darker-gray: #363636;
$white: #FFF;
$black: #000;
$blue-light: #4DB7C6;
$oxford-25: #7E969A;
$oxford-75: #2c4144;
$green-25: #3EFA94;
$green-75: #1B6E41;
$gold-25: #EDAC17;
$gold-75: #987100;
$blue: #2f98bf;
$text-gray: #595959;

//Lauren's Colors
$CSP-Blue: #3A97D1;
$CSP-Dark-Blue: #14597F;
$CSP-Gold: #D79900;
$CSP-Dark-Gold: #9D6D02;
$CSP-Red: #C52429;
$CSP-Dark-Red: #7F1426;

//Fonts
$font-base: 'Montserrat';
$font-brand: 'Open Sans';

//Filters
$black-filter: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
$available-campus: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65));
$csu-banner-img-black-filter: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65));
$white-filter: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));

//Break Points
$break-Xsmall: 576px;
$break-small: 767px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;
$break-height-xsmall: 300px;

//Borders
$border-radius: 3px;

$navbar-height: 4rem;

//Positioning
$content-card__padding: 2%;